<app-header></app-header>
<!DOCTYPE html>
<html>
<head>
  <title>Blood Request Form</title>

  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    .message {
      margin-top: 20px;
      font-size: 24px;
    }


  </style>
</head>
<body class="container-fluid" style="overflow: hidden;">

    <div>
        <img src="assets/thanks.svg">
    </div>


    <p style="font-weight: bolder; font-size:xx-large;"> Thanks for submitting!</p>
  <div class="message">

    <p> Your request id is your registered e-mail.</p>
    <p> "Don't worry, our dedicated team is committed to providing the required blood for your requested details. Stay Strong ."</p>
    <p><span class="fw-bold">Contact Us:</span> Help Line Numbers :+91-6303247190 , +91-1234567890

     </p>
     <p>email : dhanudhanu6303@gmail.com</p>
  </div>

<br>
<br>
  <button type="button" class="gradient" (click)="home()">  Go home </button>

</body>
</html>
